
/* rules */
@keyframes intro {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.25);
  }
}

@keyframes shake {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.01);
  }
}

/* decorations */
.start-button {
  background-color: #f0f6ff;
  color: black;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 2px 4px;
  cursor: pointer;
  border: 3px double black;
  border-radius: 6px;
  transition-duration: 0.5s;
  width: 250px;
}

.start-button-container {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.whole-screen {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.title_m {
  transform: scale(.5);
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

body {
  background-image: url("images/Gooberville background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


/* animations */
.start-button-container:hover {
  animation: intro 0.2s, shake 0.01s ease-in-out infinite alternate;
}
