
/* rules */
@keyframes intro {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.25);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  4% {
    transform: rotate(1deg);
  }
  8% {
    transform: rotate(2deg);
  }
  12% {
    transform: rotate(3deg);
  }
  16% {
    transform: rotate(4deg);
  }
  20% {
    transform: rotate(5deg);
  }
  24% {
    transform: rotate(4deg);
  }
  28% {
    transform: rotate(3deg);
  }
  32% {
    transform: rotate(2deg);
  }
  36% {
    transform: rotate(1deg);
  }
  40% {
    transform: rotate(0deg);
  }
  44% {
    transform: rotate(-1deg);
  }
  48% {
    transform: rotate(-2deg);
  }
  52% {
    transform: rotate(-3deg);
  }
  56% {
    transform: rotate(-4deg);
  }
  60% {
    transform: rotate(-5deg);
  }
  64% {
    transform: rotate(0deg);
  }
  68% {
    transform: rotate(-5deg);
  }
  72%% {
    transform: rotate(-4deg);
  }
  76% {
    transform: rotate(-3deg);
  }
  80% {
    transform: rotate(-2deg);
  }
  84% {
    transform: rotate(-1deg);
  }
  88% {
    transform: rotate(0deg);
  }
}

/* decorations */
.start-button {
  background-color: #69A7FF;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 2px 4px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition-duration: 0.5s;
}


/* animations */
.start-button:hover {
  animation: intro 0.4s, rotate 0.8s ease-in-out infinite alternate;
}

.start-button {
  transition: transform 0.3s ease-in-out;
}
  
