
/* rules */
@keyframes pulse {
  0% {
    transform: scale(1) rotate(0deg);
  }
  33.3% {
    transform: scale(1.15) rotate(5deg);
  }
  66.7% {
    transform: scale(1.2) rotate(0deg);
  }
  100% {
    transform: scale(1.25) rotate(-5deg);
  }
}


/* decorations */
.start-button {
  background-color: #69A7FF;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 2px 4px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition-duration: 0.5s;
}


/* animations */
.start-button:hover {
  animation: pulse 2s ease-in-out infinite alternate;
}

.start-button {
  transition: transform 0.3s ease-in-out;
}
  
