
/* rules */
@keyframes intro {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.25);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  5% {
    transform: rotate(1deg);
  }
  10% {
    transform: rotate(2deg);
  }
  15% {
    transform: rotate(3deg);
  }
  20% {
    transform: rotate(4deg);
  }
  25% {
    transform: rotate(5deg);
  }
  30% {
    transform: rotate(4deg);
  }
  35% {
    transform: rotate(3deg);
  }
  40% {
    transform: rotate(2deg);
  }
  45% {
    transform: rotate(1deg);
  }
  50% {
    transform: rotate(0deg);
  }
  55% {
    transform: rotate(-1deg);
  }
  60% {
    transform: rotate(-2deg);
  }
  65% {
    transform: rotate(-3deg);
  }
  70% {
    transform: rotate(-4deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  80% {
    transform: rotate(-4deg);
  }
  85% {
    transform: rotate(-3deg);
  }
  90% {
    transform: rotate(-2deg);
  }
  95% {
    transform: rotate(-1deg);
  }
}

/* decorations */
.start-button {
  background-color: #f0f6ff;
  color: black;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 2px 4px;
  cursor: pointer;
  border: double;
  border-radius: 5px;
  transition-duration: 0.5s;
  margin-top: 600px;
}

.start-button-container {
  text-align: center;
}

.title_m {
  scale: .5;
  text-align: center;
  margin-top: -100px;
}
body {
  background-image: url("images/Gooberville background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


/* animations */
.start-button:hover {
  animation: intro 0.2s, rotate 0.6s ease-in-out infinite alternate;
}
